.custom-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
}

.custom-label {
    border-radius: 0.25em;
    margin-right: 0.5em;
    padding: 0.25em 0.5em;
    border: 1px solid var(--border);
}

.custom-block .action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0em;
}


.done {
    text-decoration: line-through;
}

.notebook-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notebook-body {
    display: flex;
    flex-direction: row;
    height: 90%;  
}

.notebook-footer {
    display: flex;
    flex-direction: row-reverse;
    height: 10%;  
}

.notebook-tracker {
    padding: 2em 0;
    height: 100%;
}

.tracker-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.notebook-editor {
    flex-grow: 1;
    height: 100%;
    padding: 1em;

}

.notes-toolbar {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border);
    margin-bottom: 1em;
}

button.btn {
    font-size: 1em;
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    border-radius: 0.25em;
    border: 1px solid var(--border);
    
    mix-blend-mode: multiply;
    background-color: transparent;
    color: var(--text-color);
    transition: all 200ms;
}

button.btn.selected {
    color: white;
    background-color: var(--text-color);
}

button.btn:hover {
    transform: scale(1.05);
}

button.btn:active {
    color: white;
    background-color: var(--text-color);
}

@media only screen and (max-width: 720px) {
    .notebook-tracker {
        padding: 0;
        height: 95%;
    }
}

