.DraftEditor-root {
    overflow: auto;
}

.custom-block  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0;
    overflow: hidden;
}

.custom-label {
    align-self: center;
    border-radius: 0.25em;
    margin-right: 0.5em;
    padding: 0.25em 0.5em;
    border: 1px solid var(--border);
}

.custom-label-mobile {
    display: none;
    font-size: 0.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.custom-block .action-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0em;
}

.done {
    text-decoration: line-through;
}

.notebook-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 10%;
}

.notebook-body {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.notebook-footer {
    display: flex;
    flex-direction: row-reverse;
    max-height: 0%;
}

.notebook-footer p{
    margin-top: 0.5em;
}

.notebook-tracker {
    padding: 2em 0;
    height: 100%;
}

.notebook-editor {
    flex-grow: 1;
    flex-basis: 0px;
    height: 100%;
    width: 100%;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

.notes-toolbar {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border);
    margin-bottom: 1em;
    flex-grow: 1;
}



@media only screen and (max-width: 720px) {
    .notebook-tracker {
        padding: 0;
        height: 95%;
    }

    .custom-label-mobile {
        display: inline-block;
    }

    .btn.custom-label {
        display: none;
    }
}

