
#monthly-heat-map {
    height: 100%;
}

#monthly-heat-map svg {
    height: 100%;
    width: 100%;  
}

.day rect{
    fill:var(--calendar-dull-box);
    stroke-width: 1px;
    stroke: var(--background)
}

.day rect.colored {
    fill: var(--hover);
}

.day text {
    font-size: 3em;
    text-anchor: middle;
    dominant-baseline: central;
    fill: var(--background);
    fill-opacity: 90%;
}

#heat-map {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
}

.month-in-year {
    flex-basis: 150px;
    flex-grow: 1;
    margin: 0 1em 1em 0;
}