.notebook {
    margin-top: 4em;
    display: flex;
    width: 85vw;
}

.notebook-container {
    background-color: var(--background);
    padding: 2em;
    border-radius: 2em;
    height: 100%;
    flex-grow: 1;
    /* width: 80vw; */
}

.notebook-labels {
    /* position: absolute;
    right: 0;
    top: 0; */
    width: 3em;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
    height: 100%;
}

.notebook-labels button {
    /* padding: 0.5em 2em; */
    transform: rotate(90deg);
    background-color: var(--tab1);
    border: none;
    width: 8em;
    height: 2em;
    border-radius: 50% 50% 0 0;
    color: var(--text-color);
    font-size: 1em;
    transform-origin: bottom left;
    transition: height 100ms;
}

.notebook-labels button + button {
    margin-top: 6em;
}

.notebook-labels button:hover {
    /* padding: 0.5em 2em; */
    height: 2.5em;
}

.notebook-labels button + button:hover {
    height: 2.5em;
    margin-top: 5.5em;
}

.notebook-labels button:nth-child(4n+1) {
    background-color: var(--tab1);
}

.notebook-labels button:nth-child(4n+2) {
    background-color: var(--tab2);
}

.notebook-labels button:nth-child(4n+3) {
    background-color: var(--tab3);
}

.notebook-labels button:nth-child(4n+4) {
    background-color: var(--tab4);
}