html {
  --notebook-background: #FFF1D5;
  --app-background: #FFCDB2;
  --tab1: #FFC1AA;
  --tab2: #FFB4A2;
  --tab3: #F2A69F;
  --tab4: #E5989B;
  --border: #6D6875;
  --hover: #FFC1AA;
  --spare-color: #917681;
  --spare-color2: #B5838D;
  --text-color: #6D6875;
  --calendar-dull-box: #6D687599;
  box-sizing: border-box;
  background-color: var(--app-background);
  color: var(--text-color);
}

*, *:before, *:after {
  box-sizing: inherit;
  outline-color: var(--app-background);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  height: 10vh;
}

.journal-body {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.centered-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

input.full-width {
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 0.25em;
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.input-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input-group label {
  display: block;
  margin-bottom: 0.5em;
}

.input-group input.full-width {
  margin-bottom: 0em;
  text-align: center;
}


.icon {
  margin: 0 0.25em;
  font-size: 2em;
  transition: all 200ms;
}

.icon:hover {
  transform: scale(1.25);
}

.icon:active {
  opacity: 0.6;
  transform: scale(1.5);
}