html {
  /* pink */
  --hue0: 40;
  --hue1: 20;
  --hue2: 10;
  --hue3: 0;
  --hue4: 350;


  --notebook-background: hsl(var(--hue0), 77%, 95%);
  --panel-background: hsl(var(--hue0), 89%, 93%);
  --app-background: hsl(var(--hue1), 100%, 90%);
  --tab1: hsl(var(--hue1), 100%, 83%);
  --tab2: hsl(var(--hue2), 100%, 82%);
  --tab3: hsl(var(--hue2), 85%, 77%);;
  --tab4: hsl(var(--hue3), 80%, 77%);;
  --border: hsl(var(--hue4), 6%, 43%);
  --hover: hsl(var(--hue1), 100%, 83%);
  --spare-color: hsl(var(--hue4), 10%, 50%);;
  --spare-color2: hsl(var(--hue4), 25%, 60%);;
  --text-color: hsl(var(--hue4), 6%, 43%);
  --text-color-opaque: hsla(var(--hue4), 6%, 43%, 0.3);
  --calendar-dull-box: hsla(var(--hue4), 6%, 43%, 0.8);
  box-sizing: border-box;
  background-color: var(--app-background);
  color: var(--text-color);
}

body {
  min-height: 500px;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline-color: var(--app-background);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  height: 10vh;
}

.nav-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .nav-panel p:first-child {
  border-top: 1px var(--text-color-opaque) solid;
} */

.nav-panel p {
  padding: 1em;
  font-size: 1.5em;
  border-bottom: 1px var(--text-color-opaque) solid;
  border-radius: 0;
  margin: 0;
}

.journal-body {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.backdrop-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  opacity: .6;
  z-index: 10;
  visibility: hidden;
}

.backdrop-overlay.open {
  visibility: visible;
}

.centered-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-flow: row;
  align-items: center;
}

input.full-width {
  font-size: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 0.25em;
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.input-group {
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input-group label {
  display: block;
  margin-bottom: 0.5em;
}

.input-group input.full-width {
  margin-bottom: 0em;
  text-align: center;
}

.icon.icon-sm {
  font-size: 2em;
}

.icon {
  padding: 0 0.1em;
  font-size: 2.5em;
  transition: all 200ms;
}

.icon.icon-lg {
  font-size: 3em;
}

.icon:hover {
  transform: scale(1.25);
}

.icon:active {
  opacity: 0.6;
  transform: scale(1.5);
}

button.btn {
  font-size: 1em;
  padding: 0.25em 0.5em;
  margin-right: 0.5em;
  border-radius: 0.25em;
  border: 1px solid var(--border);
}

.btn {
  border-radius: 0.25em;
  mix-blend-mode: multiply;
  background-color: transparent;
  color: var(--text-color);
  transition: all 200ms;
}

.btn.selected {
  color: white;
  background-color: var(--text-color);
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  color: white;
  background-color: var(--text-color);
}

@media only screen and (max-width: 720px) {
  .icon {
    font-size: 3em;
  }

  .icon.icon-lg {
    font-size: 4em;
  }

  button.btn {
    font-size: 1.25em;
    padding: 0.75em 0.5em;
  }
}

